<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gaojc.security.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.gaojc.security.entity.User">
        <id column="id" property="id"/>
        <result column="user_name" property="userName"/>
        <result column="pass_word" property="passWord"/>
        <result column="user_desc" property="userDesc"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, user_name, pass_word, user_desc
    </sql>

    <sql id="table_name">sys_user</sql>

    <sql id="table_name2">sys_user_role</sql>

    <select id="findByUserName" resultMap="BaseResultMap">
        select * from <include refid="table_name"/>
        where user_name = #{userName}
    </select>

    <select id="queryUserOwnedRoleNames" resultType="java.lang.String">
        select r.role_name from <include refid="table_name"/> u
        inner join <include refid="table_name2"/> r
        on u.id = r.user_id
        where u.user_name = #{userName}
    </select>
</mapper>  